<div class="bg-white/5 w-full border-y flex flex-col items-center">
    <p class="text-base md:text-lg p-2">{{nomeGiocatore.toUpperCase()}} {{cognomeGiocatore.toUpperCase()}}</p>
</div>
<div class="w-full border-b flex flex-wrap justify-between font-inter">
    <div class="w-1/2 mt-3">
       Età: {{eta}}
    </div>
    <div class="w-1/2 mt-3">
        Stato: {{stato}}
    </div>
        <div class="w-1/2 my-3">
        Peso: {{peso}} kg
    </div>
    <div class="w-1/2 my-3">
        Altezza: {{altezza}} m
    </div>
</div>
<div class="w-full border-b font-inter">
    <div class="mt-3">
        Squadra attuale: {{squadra}}
    </div>
    <div class="mt-3">
        Anno ingresso NBA: {{annoIngressoNBA}}
    </div>
    <div class="my-3">
        College: {{college}}
    </div>
    <div class="my-3">
        Affiliation: {{affiliation}}
    </div>
</div>