<div class="container mt-10">
    <div class="mt-10 color-arancio">
        <h2>GIOCATORI 2023</h2>
    </div>
    <div class="flex my-5">
        <p-dropdown [options]="a.squadre" [(ngModel)]="squadraSelezionata" [showClear]="true" placeholder="Tutte le squadre" [style]="{'width':'100%'}" class="w-1/5 mr-5"></p-dropdown>
        <p-dropdown [options]="a.ruoli" [(ngModel)]="ruoloSelezionato" [showClear]="true" placeholder="Tutti i ruoli" [style]="{'width':'100%'}" class="w-1/5"></p-dropdown>
    </div>
</div>

<div class="bg-white/5">
    <hr class="w-full border-bianco">
        <div class="container grid grid-cols-12 gap-4 py-2">
            <div class="col-start-2 col-span-3">
                <p class="text-base md:text-lg inline">Nome</p>
            </div>
            <div class="col-span-3">
                <p class="text-base md:text-lg inline">Squadra</p>
            </div>
            <div class="col-span-2">
                <p class="text-base md:text-lg inline">Ruolo</p>
            </div>
            <div class="col-span-2">
                <p class="text-base md:text-lg inline">Provenienza</p>
            </div>
        </div>
    <hr class="w-full border-bianco">
</div>

<div class="container grid grid-cols-12 gap-4 pt-2 pb-10">
    <ng-container *ngFor="let giocatore of a.giocatori">

        <ng-container *ngIf="squadraSelezionata == undefined && ruoloSelezionato == undefined">
            <div class="col-span-1">
                <img [src]="giocatore.logoSquadra" alt="" class="w-7">
            </div>
            <div class="col-span-3">
                <p class="text-base md:text-lg inline">{{giocatore.nomeGiocatore}}</p>
            </div>
            <div class="col-span-3">
                <p class="text-base md:text-lg inline">{{giocatore.nomeSquadra}}</p>
            </div>
            <div class="col-span-2">
                <p class="text-base md:text-lg inline">{{giocatore.ruolo}}</p>
            </div>
            <div class="col-span-2">
                <p class="text-base md:text-lg inline">{{giocatore.provenienza}}</p>
            </div>
            <div class="col-span-1">
                <img src="/assets/star-outlined-svgrepo-com.svg" alt="" class="w-7">
            </div>
        </ng-container>

        <ng-container *ngIf="squadraSelezionata == giocatore.nomeSquadra && ruoloSelezionato == undefined">
            <div class="col-span-1">
                <img [src]="giocatore.logoSquadra" alt="" class="w-7">
            </div>
            <div class="col-span-3">
                <p class="text-base md:text-lg inline prova">{{giocatore.nomeGiocatore}}</p>
            </div>
            <div class="col-span-3">
                <p class="text-base md:text-lg inline">{{giocatore.nomeSquadra}}</p>
            </div>
            <div class="col-span-2">
                <p class="text-base md:text-lg inline">{{giocatore.ruolo}}</p>
            </div>
            <div class="col-span-2">
                <p class="text-base md:text-lg inline">{{giocatore.provenienza}}</p>
            </div>
            <div class="col-span-1">
                <img src="/assets/star-outlined-svgrepo-com.svg" alt="" class="w-7">
            </div>
        </ng-container>

        <ng-container *ngIf="squadraSelezionata == giocatore.nomeSquadra && ruoloSelezionato == giocatore.ruolo">
            <div class="col-span-1">
                <img [src]="giocatore.logoSquadra" alt="" class="w-7">
            </div>
            <div class="col-span-3">
                <p class="text-base md:text-lg inline prova">{{giocatore.nomeGiocatore}}</p>
            </div>
            <div class="col-span-3">
                <p class="text-base md:text-lg inline">{{giocatore.nomeSquadra}}</p>
            </div>
            <div class="col-span-2">
                <p class="text-base md:text-lg inline">{{giocatore.ruolo}}</p>
            </div>
            <div class="col-span-2">
                <p class="text-base md:text-lg inline">{{giocatore.provenienza}}</p>
            </div>
            <div class="col-span-1">
                <img src="/assets/star-outlined-svgrepo-com.svg" alt="" class="w-7">
            </div>
        </ng-container>

        <ng-container *ngIf="squadraSelezionata == undefined && ruoloSelezionato == giocatore.ruolo">
            <div class="col-span-1">
                <img [src]="giocatore.logoSquadra" alt="" class="w-7">
            </div>
            <div class="col-span-3">
                <p class="text-base md:text-lg inline prova">{{giocatore.nomeGiocatore}}</p>
            </div>
            <div class="col-span-3">
                <p class="text-base md:text-lg inline">{{giocatore.nomeSquadra}}</p>
            </div>
            <div class="col-span-2">
                <p class="text-base md:text-lg inline">{{giocatore.ruolo}}</p>
            </div>
            <div class="col-span-2">
                <p class="text-base md:text-lg inline">{{giocatore.provenienza}}</p>
            </div>
            <div class="col-span-1">
                <img src="/assets/star-outlined-svgrepo-com.svg" alt="" class="w-7">
            </div>
        </ng-container>

    </ng-container>
</div>