<section class="pt-10">
<app-articolo-loggato> </app-articolo-loggato>
<app-articolo-loggato-txt> </app-articolo-loggato-txt>
<div
  class="bg-white/5 w-full min-h-[50vh] border-y flex flex-col items-center md:ps-6 ps-0 md:p-0 pb-5"
>
  <h2 class="w-full text-[2.5rem] uppercase text-center font-extrabold py-8 pb-20">
    Vuoi continuare a leggere?
  </h2>
  <div class="flex flex-col text-center font-inter justify-center gap-6">
    <div class="text-black bg-orange-400 bg-arancio w-[50%] h-7 rounded-full text-center capitalize grid items-center">
        <p>Accedi</p>
    </div>
    <p>
        Effettua il login per rimanere aggiornato su tutte le novità!
    </p>
  </div>
</div>
<app-articolo-loggato-section> </app-articolo-loggato-section>
</section>