<div class="ps-6 md:px-10 my-10">
    <h1 class="color-arancio md:text-5xl text-3xl pb-10 font-inter uppercase">Classifica {{stagione}}</h1>
    <h2 class="mb-5 color-arancio text-3xl">EASTERN</h2>
    <div class="w-full overflow-x-scroll hide-scrollbar">
        <table class="w-full table-auto border-collapse">
            <thead>
            <tr class="bg-[#231D13] border-y text-left">
                <th class="sticky left-0 h-fit font-light py-2 pe-40 bg-[#231D13]">
                    NOME
                </th>
                <th class="font-light p-2 border-x md:border-none">VITTORIE</th>
                <th class="font-light p-2 border-x md:border-none">SCONFITTE</th>
                <th class="font-light p-2 border-x md:border-none">VITTORIE CASA</th>
                <th class="font-light p-2 border-x md:border-none">VITTORIE OSPITI</th>
                <th class="font-light p-2 border-x md:border-none">MPP</th>
                <th class="font-light p-2 border-x md:border-none">MPSP</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let squadra of data.eastTeams" class="h-14 bg-nero cursor-pointer"routerLink="/dettaglio-team/{{squadra.idTeam}}">
                    <td class="sticky left-0 h-fit border-r bg-nero sm:border-none " >
                        <div class="flex justify-between">
                            <p class="inline w-1/12 mr-4">{{squadra.rank}}</p>
                            <img [src]="squadra.logo" alt="" class="w-7 inline mr-4">
                            <div class="w-32 ps-5">{{ squadra.nickname.toUpperCase() }}</div>
                        </div>
                    </td>
                    <td class=" p-2 pe-20">{{ squadra.win }}</td>
                    <td class=" p-2 pe-20">{{ squadra.loss }}</td>
                    <td class=" p-2 pe-20">{{ squadra.winHome }}</td>
                    <td class=" p-2 pe-20">{{ squadra.winAway }}</td>
                    <td class=" p-2 pe-20">{{ squadra.averagePointsByGame }}</td>
                    <td class=" p-2 pe-20">{{ squadra.averagePointsConcededByGame }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h1 class="mt-10 mb-5 color-arancio text-3xl">WESTER</h1>
    <div class="w-full overflow-x-scroll hide-scrollbar">
        <table class="w-full table-auto border-collapse">
            <thead>
            <tr class="bg-[#231D13] border-y text-left">
                <th class="sticky left-0 h-fit font-light py-2 pe-40 bg-[#231D13]">
                    NOME
                </th>
                <th class="font-light p-2 border-x md:border-none">VITTORIE</th>
                <th class="font-light p-2 border-x md:border-none">SCONFITTE</th>
                <th class="font-light p-2 border-x md:border-none">VITTORIE CASA</th>
                <th class="font-light p-2 border-x md:border-none">VITTORIE OSPITI</th>
                <th class="font-light p-2 border-x md:border-none">MPP</th>
                <th class="font-light p-2 border-x md:border-none">MPSP</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let squadra of data.westTeams" class="h-14 bg-nero cursor-pointer"routerLink="/dettaglio-team/{{squadra.idTeam}}">
                    <td class="sticky left-0 h-fit border-r bg-nero sm:border-none " >
                        <div class="flex justify-between">
                            <p class="inline w-1/12 mr-4">{{squadra.rank}}</p>
                            <img [src]="squadra.logo" alt="" class="w-7 inline mr-4">
                            <div class="w-32 ps-5">{{ squadra.nickname.toUpperCase() }}</div>
                        </div>
                    </td>
                    <td class=" p-2 pe-20">{{ squadra.win }}</td>
                    <td class=" p-2 pe-20">{{ squadra.loss }}</td>
                    <td class=" p-2 pe-20">{{ squadra.winHome }}</td>
                    <td class=" p-2 pe-20">{{ squadra.winAway }}</td>
                    <td class=" p-2 pe-20">{{ squadra.averagePointsByGame }}</td>
                    <td class=" p-2 pe-20">{{ squadra.averagePointsConcededByGame }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>