<div class="flex flex-col md:flex-row p-14 gap-6">
  <div class="md:w-1/2 w-full flex flex-col gap-8">
    <h2 class="text-orange-500">Eastern</h2>
    <div class="border-y border-[#e98a15] text-[2rem] text-center">
      Atlantic
    </div>
    <div class="border-2 flex rounded-xl h-16 w-full">
      <div class="h-full w-1/5 flex items-center justify-center">
        <img src="/assets/s-l1200.webp" alt="" class="w-10" />
      </div>
      <div class="h-full w-3/5 flex items-center justify-start text-left">
        <h3 class="text-3xl">Minnesota</h3>
      </div>
      <div class="h-full w-1/5"></div>
    </div>
  </div>
  <div class="md:w-1/2 w-full flex flex-col gap-8">
    <h2 class="text-orange-500">Western</h2>
    <div class="border-y text-[2rem] border-[#e98a15] text-center">
      Northwest
    </div>
    <div class="border-2 flex rounded-xl h-16 w-full">
        <div class="h-full w-1/5 flex items-center justify-center">
          <img src="/assets/s-l1200.webp" alt="" class="w-10" />
        </div>
        <div class="h-full w-3/5 flex items-center justify-start text-left">
          <h3 class="text-3xl">Minnesota</h3>
        </div>
        <div class="h-full w-1/5"></div>
      </div>
  </div>
</div>

<div class="flex flex-col md:flex-row p-14 gap-6">
  <div class="md:w-1/2 w-full flex flex-col gap-8">
    <div class="border-y border-[#e98a15] text-[2rem] text-center">
      Central
    </div>
    <div class="border-2 flex rounded-xl h-16 w-full">
      <div class="h-full w-1/5 flex items-center justify-center">
        <img src="/assets/s-l1200.webp" alt="" class="w-10" />
      </div>
      <div class="h-full w-3/5 flex items-center justify-start text-left">
        <h3 class="text-3xl">Minnesota</h3>
      </div>
      <div class="h-full w-1/5"></div>
    </div>
  </div>
  <div class="md:w-1/2 w-full flex flex-col gap-8">
    <div class="border-y text-[2rem] border-[#e98a15] text-center">
      Pacific
    </div>
    <div class="border-2 flex rounded-xl h-16 w-full">
        <div class="h-full w-1/5 flex items-center justify-center">
          <img src="/assets/s-l1200.webp" alt="" class="w-10" />
        </div>
        <div class="h-full w-3/5 flex items-center justify-start text-left">
          <h3 class="text-3xl">Minnesota</h3>
        </div>
        <div class="h-full w-1/5"></div>
      </div>
  </div>
</div>

<div class="flex flex-col md:flex-row p-14 gap-6">
  <div class="md:w-1/2 w-full flex flex-col gap-8">
    <div class="border-y border-[#e98a15] text-[2rem] text-center">
      Southeast
    </div>
    <div class="border-2 flex rounded-xl h-16 w-full">
      <div class="h-full w-1/5 flex items-center justify-center">
        <img src="/assets/s-l1200.webp" alt="" class="w-10" />
      </div>
      <div class="h-full w-3/5 flex items-center justify-start text-left">
        <h3 class="text-3xl">Minnesota</h3>
      </div>
      <div class="h-full w-1/5"></div>
    </div>
  </div>
  <div class="md:w-1/2 w-full flex flex-col gap-8">
    <div class="border-y text-[2rem] border-[#e98a15] text-center">
      Southweast
    </div>
    <div class="border-2 flex rounded-xl h-16 w-full">
        <div class="h-full w-1/5 flex items-center justify-center">
          <img src="/assets/s-l1200.webp" alt="" class="w-10" />
        </div>
        <div class="h-full w-3/5 flex items-center justify-start text-left">
          <h3 class="text-3xl">Minnesota</h3>
        </div>
        <div class="h-full w-1/5"></div>
      </div>
  </div>
</div>

<div class="w-full flex items-center justify-center relative md:pt-44 pt-10">
  <img src="/assets/Star.png" class="absolute md:w-44 w-32 -z-10" alt="">
  <h2 class="uppercase md:text-3xl text-2xl text-center">Confronto <br> <span class="md:text-6xl text-4xl font-bold">squadre</span></h2>
</div>