<app-header-confronto-dettaglio [bgImg]="'/assets/confronto-giocatori-header.jpg'" [nome1]="data.player1.firstname" [cognome1]="data.player1.lastname" [nome2]="data.player2.firstname" [cognome2]="data.player2.lastname" [logo1]="data.player1.logo" [logo2]="data.player2.logo"></app-header-confronto-dettaglio>

<section class="md:p-20 p-6">
    <div>
        <div class="flex justify-center sm:justify-between w-full flex-wrap">
            <ng-container *ngFor="let giocatore of data.comparisonPlayers; index as i">
                <app-bio-giocatore
                    [nomeGiocatore]="giocatore.firstname"
                    [cognomeGiocatore]="giocatore.lastname"
                    [eta]="giocatore.age"
                    [peso]="giocatore.weight"
                    [stato]="giocatore.country"
                    [altezza]="giocatore.height"
                    [squadra]="giocatore.team"
                    [annoIngressoNBA]="giocatore.debut"
                    [college]="giocatore.college"
                    [affiliation]="giocatore.affiliation"
                    class="w-[4/5] sm:w-[45%]"
                    [ngClass]="i == 0 ? 'mb-10 sm:mb-0' : ''"
                ></app-bio-giocatore>
            </ng-container>
        </div>
    </div>
    </section>
    <app-titolo-sezione [numero]="'01'" [titolo]="'Ruolo'" [spiegazione]="'L`utilità di ciascun ruolo consente agli allenatori di formare strategie vincenti, sfruttando al meglio le abilità specifiche di ogni giocatore e creando un equilibrio ideale per raggiungere gli obiettivi della squadra.'"/>
    <section>
    <div>
        <div class="grid grid-cols-12 gap-4">
            <ng-container *ngFor="let giocatore of data.comparisonPlayers; index as i">
                <div [ngClass]="{
                    'col-start-2': i === 0 || i === 1,
                    'col-span-10': i === 0 || i === 1,
                    'md:col-start-2': i === 0,
                    'md:col-span-5': i === 0 || i === 1,
                    'md:col-start-7': i === 1,
                    'lg:col-start-4': i === 0,
                    'lg:col-span-4': i === 0 || i === 1,
                    'lg:col-start-8': i === 1,
                    'xl:col-start-5': i === 0,
                    'xl:col-span-3': i === 0 || i === 1,
                    'xl:col-start-8': i === 1,
                  }"
                  class="border border-[#E5CFB5] rounded-2xl p-3 text-center hover:bg-[#E5CFB5] hover:text-black"
                >
                    <p class="text-base md:text-lg uppercase">{{giocatore.firstname}} {{giocatore.lastname}}</p>
                    <p class="font-inter text-2lg md:text-3xl font-black uppercase">{{giocatore.role}}</p>
                </div>
            </ng-container>
        </div>
    </div>
</section>
    
<app-titolo-sezione [numero]="'02'" [titolo]="'Dati'" [spiegazione]="'Confrontare i dati statistici tra giocatori è essenziale per comprendere le prestazioni dei giocatori e delle squadre. '"/>
    <section class="pb-20">
    
        <div class="container grid grid-cols-12 gap-4">
            <div class="col-start-0 col-span-12 md:col-start-1 lg:col-start-2 md:col-span-12 lg:col-span-10 px-20 md:px-5">
                <div class="flex justify-between flex-wrap flex-col md:flex-row">
                    <ng-container *ngFor="let tipoDato of data.dataPlayers, let i = index">
                        <div class="w-full md:w-[30%] mt-3 ">
                            
                            <app-card-confronto-dati [titoloCard]="titoli[i]" [nomeSquadra1]="data.player1.firstname"
                            [cognome1]="data.player1.lastname" 
                            [nomeSquadra2]="data.player2.firstname"
                            [cognome2]="data.player2.lastname"  
                            [logoSquadra1]="data.player2.logo" [logoSquadra2]="data.player1.logo" [datoSquadra1]="tipoDato.dataPlayer1"
                            [datoSquadra2]="tipoDato.dataPlayer2"/>
                            
                        </div>
                    </ng-container>
                </div>
           </div>
        </div>
    </section>