<section class="pt-10">
  <div class="flex items-center justify-center border-y border-[#E5CFB5] md:px-20 md:py-8 bg-white/5">
    <div (click)="scroll(-1)" class="py-3 px-5 cursor-pointer"><img src="/assets/arrow-prev-small-svgrepo-com.svg" class="md:w-12 w-20" alt="">
    </div>
    <div class="carousel-container md:w-[60%] w-[70%]">
      <div class="carousel-content flex gap-4 overflow-scroll hide-scrollbar prova" #carouselContent>
        <div class="flex gap-5">
          <div (click)="handleDateClick(day.date)" *ngFor="let day of getDaysArray(startDate, endDate)" class=" hover:rounded-xl px-5 md:py-2 flex flex-col gap-2 items-center hover:bg-[#E5CFB5] hover:text-black cursor-pointer"
          [class.selected]="selectedDate && selectedDate.toDateString() === day.date.toDateString()">
            <p class="md:text-4xl text-3xl font-bold">{{ day.dayOfMonth }} </p>
            <p class="font-inter">{{ day.dayOfWeek }}</p>
        </div>
      </div>
      </div>
  
    </div>
    <div (click)="scroll(1)" class="py-3 px-5 cursor-pointer"><img src="/assets/arrow-next-small-svgrepo-com.svg" class="md:w-12 w-20" alt="">
    </div>

  </div>
  
  
    <div class="w-full py-24 lg:px-40 flex flex-col gap-3 text-black px-4 ">
      <div *ngFor="let i of data.game" class="flex max-w-[100%] w-full flex-wrap lg:flex-nowrap">
        <div class="bg-bianco lg:w-[85%] lg:h-28 h-16  flex  w-full rounded-t-lg lg:rounded-tr-none lg:rounded-l-xl">
            <div class="w-2/5 h-full lg:text-3xl flex items-center uppercase px-5 lg:gap-5 gap-3">
              <img src={{i.homeTeam.logo}} class="lg:w-10 w-6 " alt="">
              <p>{{i.homeTeam.nickname}}</p>
            </div>
            <div class="w-1/6 h-full flex items-center lg:justify-start justify-center ps-3 lg:ps-0 lg:text-2xl font-inter font-extralight ">VS</div>
            <div class="w-2/5 h-full lg:text-3xl flex items-center lg:gap-6 gap-3 uppercase lg:px-10 flex-row-reverse lg:flex-row">
              <img src={{i.visitorTeam.logo}} class="lg:w-10 w-6" alt="">
              {{i.visitorTeam.nickname}}
            </div>
        </div>
        <div class="lg:w-[15%] flex justify-center items-center lg:rounded-r-xl bg-arancio w-full rounded-b-lg lg:rounded-bl-none">
          <p class="lg:text-4xl text-lg">{{formatTimeFromApiData(i)}}</p>
        </div>
      </div>
    </div>
</section>
  