<div class="container">
    <p class="my-10 font-inter color-arancio">{{convertiData(data.date)}} || {{data.emailAuthor}}</p>
    <h1 class="font-inter font-bold text-5xl mb-5">{{data.title}}</h1>

    <p class="font-inter font-light"> {{data.subTitle}}
    </p>
</div>

<div class="my-10 h-[40vh] w-screen bg-center bg-no-repeat bg-cover" style="background-image: url({{data.img}});"></div>

<!-- Inserire in caso di utente loggato -->
<div *ngIf="data.logged == true" class="container grid grid-cols-12 mb-20">
    <div class="col-start-2 col-end-11 font-inter" *ngFor="let paragrafo of data.paragraphs">
        <p class="mt-7 mb-2 font-inter-bold-italic">{{paragrafo.title}}</p>
        <p>{{paragrafo.content}}</p>
    </div>
</div>

<!-- Inserire in caso di utente non loggato -->
<div *ngIf="data.logged == false" class="container grid grid-cols-12">
    <div class="col-start-2 col-end-11 font-inter">
        <p class="mt-7 mb-2 font-inter-bold-italic">{{data.paragraphs[0].title}}</p>
        <p>{{data.paragraphs[0].content.slice(0, 200) + "..."}}</p>
    </div>
</div>

<!-- Inserire in caso di utente non loggato -->
<div *ngIf="data.logged == false" class="bg-white/5 w-full min-h-[30vh] border-y flex flex-col items-center mt-20 py-8">
    <h2 class="w-full mb-8 text-[2.5rem] uppercase text-center font-extrabold">VUOI CONTINUARE A LEGGERE?</h2>
        <button [routerLink]="['/login']" class="mb-4 inline-block text-white bg-[#e98a15] hover:bg-[#A86310] font-medium rounded-lg text-sm px-4 py-2 text-center font-inter">Accedi</button>
        <p class="font-inter text-center">Effettua il login per rimanere aggiornato su tutte le novità!</p>
</div>

<!-- <div class="container my-20">
    <p class="mb-7 font-extrabold text-[1.5rem] md:text-[2rem] color-arancio">LEGGI ANCHE</p>
    <div class="flex flex-wrap sm:flex-nowrap gap-4">
        <ng-container *ngFor="let articolo of a.leggiAnche">
            <div class="w-full sm:w-1/3 h-[350px]">
                <div class="h-[237px] w-[100%] bg-center bg-no-repeat bg-cover" style="background-image: url({{articolo.img}});"></div>
                <p class="mt-4 font-inter text-sm color-arancio">{{convertiData(articolo.data)}}</p>
                <p class="mt-2 font-inter text-base">{{articolo.titolo}}</p>
                <ng-container *ngFor="let tag of articolo.tags">
                    <p class="mt-1 inline font-inter text-sm">{{"#" + tag + " "}}</p>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div> -->