<div class="px-28 py-1 w-full min-h-[15rem] md:min-h-[17rem] bgImage my-10">
  <app-titolo-sezione
    [titolo]="'Confronto Squadre'"
    [spiegazione]="
      'Lorem ipsum dolor sit amet consectetur. Velit urna vitae scelerisque nullam sed metus dictum pulvinar.'
    "
    [spanSpiegazione]="'Consectetur volutpat turpis nec congue.'"
    class="relative z-10"
  />
</div>

<div class="px-20 pb-20 flex flex-col items-center">
  <h2 class="color-arancio uppercase self-start">scelta squadre</h2>
  <div class="flex justify-between p-20 items-center w-full">
    <div class="relative">
      <div class="bg-arancio w-full h-10 border border-arancio z-20 rounded-t-3xl absolute top-0">
        <p class="text-black uppercase text-2xl text-center leading-10">prima squadra</p>
      </div>
      <div
  class="w-72 h-72 rounded-3xl border-t-0 border border-dashed border-bianco text-8xl flex flex-col-reverse items-center justify-center relative gap-5"
  (click)="openModal(plusNumber1)"
  [class.bg-bianco]="selectedTeam1.nome"
  [class.text-black]="selectedTeam1.nome"

>
  <ng-container *ngIf="selectedTeam1.nome; else plusSign">
    <p class="text-3xl uppercase">{{ selectedTeam1.nome }}</p>
  </ng-container>
  <ng-template #plusSign>
    +
  </ng-template>
  <img *ngIf="selectedTeam1.immagine" [src]="selectedTeam1.immagine" class="w-14" alt="">
</div>

    </div>
    <p class="text-3xl uppercase font-inter">vs</p>
    <div class="relative">
      <div class="bg-arancio w-full h-10 border border-arancio z-20 rounded-t-3xl absolute top-0">
        <p class="text-black uppercase text-2xl text-center leading-10">seconda squadra</p>
      </div>
      <div
  class="w-72 h-72 rounded-3xl border-t-0 border border-dashed border-bianco text-8xl flex flex-col-reverse items-center justify-center relative gap-5"
  (click)="openModal(plusNumber2)"
  [class.bg-bianco]="selectedTeam2.nome"
  [class.text-black]="selectedTeam2.nome"

>
  <ng-container *ngIf="selectedTeam2.nome; else plusSign">
    <p class="text-3xl uppercase">{{ selectedTeam2.nome }}</p>
  </ng-container>
  <ng-template #plusSign>
    +
  </ng-template>
  <img *ngIf="selectedTeam1.immagine" [src]="selectedTeam2.immagine" class="w-14" alt="">
</div>

    </div>
  </div>
  <button class="bg-arancio rounded-full py-3 px-4 w-fit uppercase font-inter font-bold">Vai al Confronto</button>

  <div
    *ngIf="isModalOpen"
    class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center z-50"
    
  >
    <!-- Contenuto della modale -->
    <div
      class="bg-black border border-bianco w-[90%] h-[90%] p-8 rounded-lg relative flex flex-nowrap"
      
    >
      <span
        class="absolute top-2 right-2 text-xl cursor-pointer"
        (click)="closeModal()"
        >&times;</span
      >
      <div class="w-1/3 text-center h-fit px-4">
        <div class="border-y border-arancio py-3" (click)="selectTeam({ nome: 'lakers', immagine: '/assets/s-l1200.webp' })">
          Lakers
          <img src="/assets/s-l1200.webp" class="w-10" alt="">
        </div>
      </div>
      <div class="w-1/3 text-center h-fit px-4">
        <h3
          class="border-y border-arancio py-3"
          (click)="selectTeam({ nome: 'celtics', immagine: '' })"
        >
          Celtics
        </h3>
      </div>
      <div class="w-1/3 text-center h-fit px-4">
        <h3 class="border-y border-arancio py-3" (click)="selectTeam({ nome: 'bulls', immagine: '' })">
          Bulls
        </h3>
      </div>
    </div>
  </div>
</div>
