<!-- dettaglio-team.component.html -->

<app-header-dettaglio-team [data]="data"></app-header-dettaglio-team>
<app-posizione-in-classifica [data]="data"></app-posizione-in-classifica>
<app-la-squadra [data]="data"></app-la-squadra>
<app-container-dati-generali [data]="data"></app-container-dati-generali>


<section class="p-20">
    <app-titolo-sezione [numero]="'03'" [titolo]="'Confronto media NBA'" [spiegazione]="'Lorem ipsum dolor sit amet consectetur. Velit urna vitae scelerisque nullam sed metus dictum pulvinar.'" [spanSpiegazione]="'Consectetur volutpat turpis nec congue.'"/>
    
    <app-contenitore-card-confronto-dati/>
</section>
  
  
  
  
  
  
    
    
