<nav class="bg-nero w-full z-20 top-0 start-0 border-b border-arancio font-inter">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <a routerLink="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/assets/Logo.png" class="h-8" alt="Flowbite Logo">
  </a>
  <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button type="button" class="text-white bg-[#e98a15] hover:bg-[#A86310] font-medium rounded-lg text-sm px-4 py-2 text-center" routerLink="/profilo">Gaetano</button>
      <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm color-white rounded-lg md:hidden focus:outline-none" aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky" >
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-light rounded-lg bg-nero md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 ">
      <li>
        <a routerLink="/home" class="block py-2 px-3 color-white rounded hover:bg-gray-100 hover:text-[#e98a15] md:hover:bg-transparent md:hover:text-arancio md:p-0" >Home</a>
      </li>
      <li>
        <a routerLink="/calendario-partite" class="block py-2 px-3 color-white rounded hover:bg-gray-100 hover:text-[#e98a15] md:hover:bg-transparent md:hover:text-arancio md:p-0">Calendario partite</a>
      </li>
      <li>
        <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 px-3 color-white rounded hover:text-[#e98a15] hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-arancio md:p-0 md:w-auto">
          Squadre e giocatori
          <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div id="dropdownNavbar" class="z-10 hidden font-normal bg-bianco divide-y divide-gray-100 rounded-lg shadow w-44">
          <ul class="py-2 text-sm text-[#130B02]" aria-labelledby="dropdownLargeButton">
            <li>
              <a routerLink="elenco-team" class="block px-4 py-2 hover:bg-[#e98a15]">Squadre</a>
            </li>
            <li>
              <a routerLink="elenco-giocatori" class="block px-4 py-2 hover:bg-[#e98a15]">Giocatori</a>
            </li>
            <li>
              <a routerLink="scelta-confronto-team" class="block px-4 py-2 hover:bg-[#e98a15]">Confronto squadre</a>
            </li>
            <li>
              <a routerLink="scelta-confronto-giocatori" class="block px-4 py-2 hover:bg-[#e98a15]">Confronto giocatori</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
  <button id="dropdownClassificaLink" data-dropdown-toggle="dropdownClassifica" class="flex items-center justify-between w-full py-2 px-3 color-white rounded hover:text-[#e98a15] hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-arancio md:p-0 md:w-auto">
    Classifica
    <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg>
  </button>
  <!-- Dropdown menu -->
  <div id="dropdownClassifica" class="z-10 hidden font-normal bg-bianco divide-y divide-gray-100 rounded-lg shadow w-44">
    <ul class="py-2 text-sm text-[#130B02]" aria-labelledby="dropdownClassificaLink">
      <li>
        <a href="/classifica/2023-2024" class="block px-4 py-2 hover:bg-[#e98a15]">2023/2024</a>
      </li>
      <li>
        <a href="/classifica/2022-2023" class="block px-4 py-2 hover:bg-[#e98a15]">2022/2023</a>
      </li>
    </ul>
  </div>
</li>
      <li>
        <a routerLink="/blog" class="block py-2 px-3 color-white rounded hover:bg-gray-100 hover:text-[#e98a15] md:hover:bg-transparent md:hover:text-arancio md:p-0">Blog</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
