.bgImage{
    background-image: url('/assets/confronto-giocatori-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bgImage2{
    background-image: url('/assets/scelta-confronto.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

