<nav class="h-[64px] w-full border-b border-arancio flex justify-between font-inter">
  <div id="logo" class="w-[20%] h-full flex items-center justify-center">
    <img src="/assets/Logo.png" class="w-[30%] h-[60%]" alt="" />
  </div>
  <div id="menu">
    <ul class="flex gap-10 color-white items-center h-full">
        <a [routerLink]="['/']" >Home</a>
        <li>Partite</li>
        <li>Squadre e giocatori</li>
        <li>Classifica</li>
        <li>Blog</li>
    </ul>
  </div>
  <div id="utente" class="w-[20%] h-full flex items-center justify-center">
    <div class="text-black bg-orange-400 bg-arancio w-[50%] h-7 rounded-full text-center capitalize grid items-center">
        <p>gaetano</p>
    </div>
  </div>
</nav>
