<app-header></app-header>
<app-ultimi-risultati-home *ngIf="data.logged == true" [data]="data.favTeamsPastGame" [title]="'Per te'"></app-ultimi-risultati-home>
<app-ultimi-risultati-home [data]="data.pastGames" [title]="'Ultimi risultati'"></app-ultimi-risultati-home>


<div *ngIf="data.logged == false"
  class="bg-white/5 w-full min-h-[50vh] border-y flex flex-col items-center md:ps-6 ps-0 md:p-0 pb-5"
>
  <h2 class="w-full text-[2.5rem] uppercase text-center font-extrabold py-8 pb-20">
    i tuoi preferiti
  </h2>
  <div class="flex flex-col w-[80%] text-center font-inter justify-center gap-6">
    <p>
      <span class="color-white font-bold">Ops!</span> <br />
      Sembra che tu non abbia ancora effettuato l’accesso.
    </p>
    <p>
      Effettua il <span routerLink="/login" class="cursor-pointer">login</span> o <span routerLink="/register" class="cursor-pointer">iscriviti</span> per selezionare <br> le tue squadre preferite e
      seguire i loro aggiornamenti!
    </p>
  </div>
</div>

<div *ngIf="data.logged == true"
  class="bg-white/5 w-full border-y flex flex-col items-center md:ps-6 ps-0 md:p-0 pb-5"
>
  <h2 class="w-full text-[2.5rem] uppercase text-center font-extrabold py-8">
    Following
  </h2>
  <div class="flex flex-wrap w-[80%]">
    <div
      class="md:w-1/2 w-full h-auto flex md:justify-center md:px-5 py-3"
    >

    <ng-container *ngFor="let squadra of data.westStandings">
      <div class="flex gap-3 md:w-2/3 w-full h-full">
        <div class="border rounded-full h-full w-12 p-1">
          <img [src]="squadra.logo" class="w-full" alt="" />
        </div>
        <div class="w-full text-xl capitalize flex items-center">
          <h3>{{ squadra.nickname }} <span class="font-inter font-light text-sm">[W]</span></h3>
        </div>
      </div>
      <h3 class="leading-10">{{squadra.rank}}</h3>
    </ng-container>

    <ng-container *ngFor="let squadra of data.eastStandings">
      <div class="flex gap-3 md:w-2/3 w-full h-full">
        <div class="border rounded-full h-full w-12 p-1">
          <img [src]="squadra.logo" class="w-full" alt="" />
        </div>
        <div class="w-full text-xl capitalize flex items-center">
          <h3>{{ squadra.nickname }} <span class="font-inter font-light">[E]</span></h3>
        </div>
      </div>
      <h3 class="leading-10">{{squadra.rank}}</h3>
    </ng-container>

    </div>
  </div>
  <button routerLink="/elenco-team"
    class="border rounded-3xl px-5 py-[0.3rem] mb-8 mt-10 border-amber-600 font-inter text-lg w-fit"
  >
    Modifica
  </button>
</div>

<app-today-matches [data]="data"></app-today-matches>

<div class="w-full flex items-center justify-center relative md:pt-44 pt-10">
  <img src="/assets/Star.png" class="absolute md:w-44 w-32 -z-10" alt="" />
  <h2 class="uppercase md:text-3xl text-2xl text-center">
    Scopri la <br />
    <span class="md:text-6xl text-4xl font-bold">classifica</span>
  </h2>
</div>

<section class="md:ps-20 py-32 px-6">
  <div class="w-full flex justify-between items-center pb-8 md:pe-20">
    <h2 class="uppercase font-extrabold color-arancio">NEWS DAL BLOG</h2>
    <div
      class="flex items-end justify-center gap-4 quadro relative px-8 py-0 mt-[.30rem]"
    >
      <div class="h-1 w-2 bg-bianco absolute top-0 right-0"></div>
      <div class="h-full w-1 bg-bianco absolute top-0 right-0"></div>
      <div class="h-1 w-2 bg-bianco absolute bottom-0 right-0"></div>
      <div class="h-1 w-2 bg-bianco absolute top-0 left-0"></div>
      <div class="h-full w-1 bg-bianco absolute top-0 left-0"></div>
      <div class="h-1 w-2 bg-bianco absolute bottom-0 left-0"></div>
      <h3
        class="md:text-[1.5rem] text-[1rem] font-inter color-arancio font-light"
      >
        Vedi tutti
      </h3>
    </div>
  </div>

  <div class="w-full flex justify-between pb-8 pe-20">
    <div class="md:flex items-end justify-end w-full gap-4 hidden">
      <img
        src="/assets/circle-arrow-left-svgrepo-com.svg"
        class="w-10"
        alt=""
        (click)="scroll(-1)"
      />
      <img
        src="/assets/circle-arrow-right-svgrepo-com.svg"
        class="w-10"
        alt=""
        (click)="scroll(1)"
      />
    </div>
  </div>

  <div class="carousel-container">
    <div
      class="carousel-content flex md:flex-row flex-col gap-4 overflow-x-scroll hide-scrollbar"
      #carouselContent
    >
    <ng-container *ngFor="let articolo of data.blogs">
      <div
        class="carousel-item border border-[#E5CFB5] w-full md:w-[42rem] md:h-[23rem] overflow-hidden object-cover rounded-2xl flex-none cursor-pointer relative" routerLink="/blog/{{articolo.idBlog}}"
      >
        <div class="h-full w-full bg-center bg-no-repeat bg-cover" style="background-image: url('{{articolo.img}}')"></div>
        <h3 class="absolute z-50 bottom-8 left-8 md:text-4xl text-xl">
          {{articolo.title}}
        </h3>
        <h4
          class="absolute z-50 top-8 left-8 font-inter color-arancio md:text-xl text-xs"
        >
          {{convertDate(articolo.date)}}
        </h4>
      </div>
    </ng-container>
    </div>
  </div>
</section>



