
<app-header-confronto-dettaglio [bgImg]="bgImg" [nome1]="data.team1.name" [nome2]="data.team2.name" [logo1]="data.team1.logo" [logo2]="data.team2.logo"></app-header-confronto-dettaglio>
<div class="p-20">

<app-titolo-sezione [numero]="'01'" [titolo]="'Classifica'" [spiegazione]="'Lorem ipsum dolor sit amet consectetur. Velit urna vitae scelerisque nullam sed metus dictum pulvinar.'" [spanSpiegazione]="'Consectetur volutpat turpis nec congueuioiuiuiu.'"/>

<div class="grid grid-cols-12 gap-4 mb-16 mt-4">
    <div class="col-start-3 md:col-start-5 col-span-4 md:col-span-3">
        <p>Conference: {{data.team1.conference}}</p>
        <app-dati-principali [title]="data.team1.name" [dato]="data.team1.rankConference"></app-dati-principali>
    </div>
    <div class="col-start-7 md:col-start-8 col-span-4 md:col-span-3">
        <p>Conference: {{data.team1.conference}}</p>
        <app-dati-principali [title]="data.team2.name" [dato]="data.team2.rankConference"></app-dati-principali>
    </div>
</div>

<app-titolo-sezione [numero]="'02'" [titolo]="'Dati'" [spiegazione]="'Lorem ipsum dolor sit amet consectetur. Velit urna vitae scelerisque nullam sed metus dictum pulvinar.'" [spanSpiegazione]="'Consectetur volutpat turpis nec congue.'"/>

<div class="container grid grid-cols-12 gap-4">
    <div class="col-start-0 col-span-12 md:col-start-1 lg:col-start-2 md:col-span-12 lg:col-span-10">
        <div class="flex justify-between flex-wrap flex-col md:flex-row">
            <ng-container *ngFor="let tipoDato of data.dataCompareTeamNba, let i = index">
                <div class="w-full md:w-[30%] mt-3 ">
                    
                    <app-card-confronto-dati [titoloCard]="titoli[i]" [nomeSquadra1]="data.team1.name" [nomeSquadra2]="data.team2.name" [logoSquadra1]="data.team1.logo" [logoSquadra2]="data.team2.logo" [datoSquadra1]="tipoDato.dataTeam1"
                    [datoSquadra2]="tipoDato.datateam2"/>
                    
                </div>
            </ng-container>
        </div>
   </div>
</div>

<app-titolo-sezione [numero]="'03'" [titolo]="'Ultimi 4 incontri'" [spiegazione]="'Lorem ipsum dolor sit amet consectetur. Velit urna vitae scelerisque nullam sed metus dictum pulvinar.'" [spanSpiegazione]="'Consectetur volutpat turpis nec congue.'"/>
<app-quattro-confronti [quarti]="false" [numeri]="false"/>

<app-titolo-sezione [numero]="'04'" [titolo]="'Head to head'" [spiegazione]="'Lorem ipsum dolor sit amet consectetur. Velit urna vitae scelerisque nullam sed metus dictum pulvinar.'" [spanSpiegazione]="'Consectetur volutpat turpis nec congue.'"/>
<app-quattro-confronti [quarti]="false" [numeri]="true"/>
</div>


