
<app-header-confronto-dettaglio [bgImg]="bgImg" [nome1]="data.team1.name" [nome2]="data.team2.name" [logo1]="data.team1.logo" [logo2]="data.team2.logo"></app-header-confronto-dettaglio>
<app-titolo-sezione [numero]="'01'" [titolo]="'Classifica'" [spiegazione]="'Le squadre in testa alla classifica hanno maggiori possibilità di vincere il campionato, ma non è l`unico fattore da considerare'"/>
<div>
<div class="grid grid-cols-12 gap-4 mb-16 mt-4">
    <div class="col-start-3 md:col-start-5 col-span-4 md:col-span-3">
        <p>Conference: {{data.team1.conference}}</p>
        <app-dati-principali [title]="data.team1.name" [dato]="data.team1.rankConference"></app-dati-principali>
    </div>
    <div class="col-start-7 md:col-start-8 col-span-4 md:col-span-3">
        <p>Conference: {{data.team1.conference}}</p>
        <app-dati-principali [title]="data.team2.name" [dato]="data.team2.rankConference"></app-dati-principali>
    </div>
</div>

<app-titolo-sezione [numero]="'02'" [titolo]="'Dati'" [spiegazione]="'Il confronto dei dati servono per comprendere il gioco e le sue dinamiche. Analizzando i dati di una squadra, è possibile individuare i suoi punti di forza e di debolezza, i suoi stili di gioco e le sue tendenze.'"/>

<div class="container grid grid-cols-12 gap-4">
    <div class="col-start-0 col-span-12 md:col-start-1 lg:col-start-2 md:col-span-12 lg:col-span-10 px-20 md:px-5">
        <div class="flex justify-between flex-wrap flex-col md:flex-row">
            <ng-container *ngFor="let tipoDato of data.dataCompareTeamNba, let i = index">
                <div class="w-full md:w-[30%] mt-3 ">
                    
                    <app-card-confronto-dati [titoloCard]="titoli[i]" [nomeSquadra1]="data.team1.name" [nomeSquadra2]="data.team2.name" [logoSquadra1]="data.team1.logo" [logoSquadra2]="data.team2.logo" [datoSquadra1]="tipoDato.dataTeam1"
                    [datoSquadra2]="tipoDato.datateam2"/>
                    
                </div>
            </ng-container>
        </div>
   </div>
</div>

<section class="pb-20">
    <app-titolo-sezione [numero]="'03'" [titolo]="'Ultimi 4 incontri'" [spiegazione]="'Il confronto degli ultimi 4 match della stagione è utile per capire come le squadre stanno performando e quali sono le loro probabilità di vittoria.'"/>
    <app-quattro-confronti class="mb-5" [tipologia]="'ultimi4Incontri'" [dataHome]="data.lastFourGamesTeam1" [dataVisitor]="data.lastFourGamesTeam2" [homeTeamLogo]="data.team1.logo" [visitorTeamLogo]="data.team2.logo" [homeTeamName]="data.team1.name" [visitorTeamName]="data.team1.name"/>
    
    <app-titolo-sezione [numero]="'04'" [titolo]="'Head to head'" [spiegazione]="'Gli head to head rappresentano i risultati delle partite giocate tra due squadre durante la stagione.'" [spanSpiegazione]="'Questi risultati sono considerati significativi in situazioni in cui le due squadre hanno lo stesso numero di punti in classifica.'"/>
    <app-quattro-confronti [tipologia]="'headToHead'" [dataHome]="data.lastFourHtHTeam1" [dataVisitor]="data.lastFourHtHTeam2" [homeTeamLogo]="data.team1.logo" [visitorTeamLogo]="data.team2.logo" [homeTeamName]="data.team1.name" [visitorTeamName]="data.team1.name"/>
</section>


