<div class="fixed">
    <div class="block sm:hidden">XS</div>
    <div class="hidden sm:block md:hidden">SM</div>
    <div class="hidden md:block lg:hidden">MD</div>
    <div class="hidden md:hidden lg:block xl:hidden">LG</div>
    <div class="hidden lg:hidden xl:block">XL</div>
</div>

<app-header-dettaglio-partita [boolGiocata]="boolGiocata" [data]="data.gameDetails"></app-header-dettaglio-partita>

<app-titolo-sezione [numero]="'01'" [titolo]="'Punteggio quarti'" [spiegazione]="'Lorem ipsum dolor sit amet consectetur. Velit urna vitae scelerisque nullam sed metus dictum pulvinar.'" [spanSpiegazione]="'Consectetur volutpat turpis nec congue.'"/>
<app-quattro-confronti [quarti]="true" [numeri]="true"/>

<app-titolo-sezione [numero]="'02'" [titolo]="'Statistiche'" [spiegazione]="'Lorem ipsum dolor sit amet consectetur. Velit urna vitae scelerisque nullam sed metus dictum pulvinar.'" [spanSpiegazione]="'Consectetur volutpat turpis nec congue.'"/>
<app-contenitore-card-confronto-dati/>

<app-titolo-sezione [numero]="'03'" [titolo]="'I nostri preferiti'" [spiegazione]="'Lorem ipsum dolor sit amet consectetur. Velit urna vitae scelerisque nullam sed metus dictum pulvinar.'" [spanSpiegazione]="'Consectetur volutpat turpis nec congue.'"/>
<app-preferiti-dettaglio-partita/>

<app-titolo-sezione [numero]="'04'" [titolo]="'Head to head'" [spiegazione]="'Lorem ipsum dolor sit amet consectetur. Velit urna vitae scelerisque nullam sed metus dictum pulvinar.'" [spanSpiegazione]="'Consectetur volutpat turpis nec congue.'"/>
<app-quattro-confronti [quarti]="false" [numeri]="true"/>

<app-titolo-sezione [numero]="'05'" [titolo]="'Giocatori'" [spiegazione]="'Lorem ipsum dolor sit amet consectetur. Velit urna vitae scelerisque nullam sed metus dictum pulvinar.'" [spanSpiegazione]="'Consectetur volutpat turpis nec congue.'"/>
<app-giocatori-dettaglio-partita/>