<div class="pt-12">
    <div class="relative bg-white/5 border-y border-[#E5CFB5] flex items-center justify-center p-10 flex-wrap gap-8">
        <div class="flex lg:gap-14 md:gap-8 lg:items-end flex-col md:flex-row items-center gap-5">
            <div class="lg:w-20 md:w-14 h-full w-10">
                <img src="/assets/s-l1200.webp" class="w-full" alt="">
            </div>
            <p class="md:text-5xl lg:text-8xl uppercase md:pe-10 text-4xl">Nome cognome</p>
        </div>
        <div class="w-full flex justify-center">
            <div class="border border-[#E5CFB5] py-1 md:px-3 px-2 rounded-full md:h-12 h-8 flex gap-2 items-center justify-center lg:absolute right-20 top-14 w-fit">
                <img src="/assets/star-outlined-svgrepo-com.svg" class="h-[70%]" alt="">
                <p class="font-inter text-xs md:text-sm">Segui</p>
            </div>
        </div>
    </div>
</div>



<section class="p-6 md:p-20 flex flex-col lg:flex-row ">
    <div class="flex lg:w-1/2 flex-wrap">
        <div class="w-1/2 p-3">
            <app-dati-principali [title]="'partite giocate'" [dato]="data[0].stats.gamesPlayed"></app-dati-principali>
        </div>
        <div class="w-1/2 p-3">
            <app-dati-principali [title]="'Numero maglia'" [dato]="data[0].stats.gamesPlayed"></app-dati-principali>
        </div>
        <div class="w-1/2 p-3">
            <app-dati-principali [title]="'partite giocate'" [dato]="data[0].stats.gamesPlayed"></app-dati-principali>
        </div>
        <div class="w-1/2 p-3">
            <app-dati-principali [title]="'partite giocate'" [dato]="data[0].stats.gamesPlayed"></app-dati-principali>
        </div>
       
    </div>
    <div class="container lg:w-1/2">
        <div class="flex justify-center sm:justify-between w-full flex-wrap">
            <ng-container *ngFor="let giocatore of a.confrontoGiocatori; index as i">
                <div class="w-full md:px-10 pt-3">
                    <app-bio-giocatore
                        [nomeGiocatore]="a.confrontoGiocatori[i].nomeGiocatore"
                        [eta]="a.confrontoGiocatori[i].eta"
                        [peso]="a.confrontoGiocatori[i].peso"
                        [stato]="a.confrontoGiocatori[i].stato"
                        [altezza]="a.confrontoGiocatori[i].altezza"
                        [squadra]="a.confrontoGiocatori[i].squadra"
                        [annoIngressoNBA]="a.confrontoGiocatori[i].annoIngressoNBA"
                        [college]="a.confrontoGiocatori[i].college"
                        [affiliation]="a.confrontoGiocatori[i].affiliation"
                        class="w-[4/5] sm:w-[45%]"
                        [ngClass]="i == 0 ? 'mb-10 sm:mb-0' : ''"
                    ></app-bio-giocatore>
                </div>
            </ng-container>
        </div>
    </div>

    
</section>
<app-container-dati-generali [data]="data"></app-container-dati-generali>
<section class="p-20">
    <app-titolo-sezione [numero]="'03'" [titolo]="'Confronto media NBA'" [spiegazione]="'Lorem ipsum dolor sit amet consectetur. Velit urna vitae scelerisque nullam sed metus dictum pulvinar.'" [spanSpiegazione]="'Consectetur volutpat turpis nec congue.'"/>
    
    <app-contenitore-card-confronto-dati/>
</section>