<div class="w-full md:min-h-[100vh] relative pt-[6rem] pb-0">
    <div class=" w-full md:h-2 h-1 absolute md:top-[10.4rem] top-[7.6rem] linea z-20"></div>
    <h1 class="uppercase text-[3.3rem] md:text-[9rem] relative font-black antonio text-center md:leading-[8rem] leading-[3rem] text-white">nba raccontata <br> <span>in numeri</span></h1>
    <img src="/assets/Hero.jpg" class=" w-full rounded-t-[5rem] md:rounded-t-[7rem] md:h-[719px] h-[50vh] object-cover -z-50 md:-mt-[2.5rem] -mt-[1rem]" alt="">
</div>