<div class="container grid grid-cols-12 gap-4 mb-20">
        <div class="col-start-3 col-end-7 md:col-start-5 md:col-end-8">
            <hr class="w-full border-bianco">
            <div class="py-2 flex justify-center">
                <img [src]="homeTeamLogo" class="w-[2rem] h-[2rem] md:w-[2.5rem] md:h-[2.5rem] inline" alt="">
                <p class="text-base md:text-lg inline ml-3 self-center">{{homeTeamName.toUpperCase()}}</p>
            </div>
            <hr class="w-full border-bianco">

            <ng-container *ngFor="let giocatore of data.homeTeam" >
                <div class="mt-3 p-2 flex justify-between border-bianco border-solid border-[1px] rounded-lg font-inter tessera-giocatore hover:bg-[#E5CFB5] hover:text-black">
                    <div>
                        <p class="font-extralight text-xs">{{giocatore.role.toUpperCase()}}</p>
                        <p class="font-light text-base hidden md:inline">{{giocatore.firstname + ' ' + giocatore.lastname}}</p>
                        <p class="font-light text-base inline md:hidden">{{giocatore.lastname}}</p>
                        <p class="hidden md:inline ml-2 font-thin text-xs">[{{giocatore.number ? giocatore.number : 'ND'}}]</p>
                    </div>
                    <div class="self-center freccia">
                        <img src="/assets/arrow-right-svgrepo-com.svg" class="w-4" alt="">
                        <img src="/assets/arrow-right-svgrepo-com-nero.svg" class="w-4" alt="">
                    </div>
                </div>
            </ng-container>

        </div>


        <div class="col-start-7 col-end-11 md:col-start-8 md:col-end-11">
            <hr class="w-full border-bianco">
            <div class="py-2 flex justify-center">
                <img [src]="visitorTeamLogo" class="w-[2rem] h-[2rem] md:w-[2.5rem] md:h-[2.5rem] inline" alt="">
                <p class="text-base md:text-lg inline ml-3 self-center">{{visitorTeamName.toUpperCase()}}</p>
            </div>
            <hr class="w-full border-bianco">

            <ng-container *ngFor="let giocatore of data.visitorTeam" >
                <div class="mt-3 p-2 flex justify-between border-bianco border-solid border-[1px] rounded-lg font-inter tessera-giocatore hover:bg-[#E5CFB5] hover:text-black">
                    <div>
                        <p class="font-extralight text-xs">{{giocatore.role.toUpperCase()}}</p>
                        <p class="font-light text-base hidden md:inline">{{giocatore.firstname + ' ' + giocatore.lastname}}</p>
                        <p class="font-light text-base inline md:hidden">{{giocatore.lastname}}</p>
                        <p class="hidden md:inline ml-2 font-thin text-xs">[{{giocatore.number ? giocatore.number : 'ND'}}]</p>
                    </div>
                    <div class="self-center freccia">
                        <img src="/assets/arrow-right-svgrepo-com.svg" class="w-4" alt="">
                        <img src="/assets/arrow-right-svgrepo-com-nero.svg" class="w-4" alt="">
                    </div>
                </div>
            </ng-container>

        </div>
</div>