<div class="container mt-20">
    <h3 class="font-inter">
        <span class="numero font-black text-6xl sm:text-7xl md:text-8xl color-nero opacity-20 italic">{{numero}}</span>
        <span class="ml-[-2rem] font-bold text-4xl sm:text-5xl md:text-6xl color-white">{{titolo}}</span>
    </h3>
    <div class="grid grid-cols-12 gap-4 mb-16 mt-4">
        <p class="col-start-3 md:col-start-5 col-end-12 md:col-end-11 font-inter font-light leading-[1.4]">{{spiegazione}}<span class="color-white opacity-40">{{spanSpiegazione}}</span>
        </p>
    </div>
</div>