<div class="mt-10 p-2 sm:text-xs md:text-sm lg:text-base font-inter text-center bg-bianco color-nero">
    <p class="text-xs sm:text-base">
        <span class="font-semibold color-nero block sm:inline text-xs sm:text-base">{{date}} {{" "}}</span>
        <span class="hidden sm:inline color-nero text-xs sm:text-base">||</span>
        {{data.stadium}}, {{data.city}}
    </p>
</div>
<div class="flex justify-between items-center w-full min-h-[10vh] p-4 border-y bg-white/5">
    <div class="w-[45%] flex justify-end items-center">
        <img src="{{data.squadre[0].logo}}" class="inline-block w-[2rem] md:w-[3rem] mr-10" alt="Logo {{data.squadre[0].nome}}">
        <p class="inline-block align-middle xs:text-[1rem] sm:text-[1.5rem] md:text-[2.5rem] lg:text-[3rem] text-end">{{data.squadre[0].nome.toUpperCase()}}</p>
    </div>
    <p class="w-[10%] font-inter text-center font-extralight sm:text-xl md:text-3xl">vs</p>
    <div class="w-[45%] items-center">
        <p class="inline-block align-middle xs:text-[1rem] sm:text-[1.5rem] md:text-[2.5rem] lg:text-[3rem]">{{data.squadre[1].nome.toUpperCase()}}</p>
        <img src="{{data.squadre[1].logo}}" class="inline-block w-[2rem] md:w-[3rem] ml-10" alt="Logo {{data.squadre[1].nome}}">
    </div>
</div>

<ng-container *ngIf="punteggio">
    <div class="flex justify-center items-center w-full min-h-[10vh] sm:p-6 md:p-8 border-y bg-white/5">
        <div class="w-[45%] flex justify-end items-center">
            <p class="inline-block align-middle text-[4rem] font-inter font-extrabold sm:text-5xl md:text-8xl">{{data.squadre[0].punteggio}}</p>
        </div>
        <p class="w-[10%] font-inter text-center font-extrabold text-3xl">-</p>
        <div class="w-[45%] items-center">
            <p class="inline-block align-middle text-[4rem] font-inter font-extrabold sm:text-5xl md:text-8xl">{{data.squadre[1].punteggio}}</p>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!punteggio">
    <div class="flex justify-center items-center w-full min-h-[10vh] border-y bg-white/5">
        <div class="flex justify-center items-center flex-wrap p-6 md:p-8">
            <div class="w-full md:w-auto flex justify-center">
                <img src="{{data.squadre[1].logo}}" class="w-[3rem] md:w-[4rem] md:mr-10" alt="Logo {{data.giocatore.nome}}">
            </div>
            <p class="inline-block align-middle text-[3rem] font-extrabold sm:text-5xl md:text-8xl text-center">{{data.giocatore.nome.toUpperCase()}}</p>
        </div>
    </div>
</ng-container>
