<div class="mt-10 p-2 sm:text-xs md:text-sm lg:text-base font-inter text-center bg-bianco color-nero">
    <p class="text-xs sm:text-base">
        <span class="font-semibold color-nero block sm:inline text-xs sm:text-base">{{date}} {{" "}}</span>
        <span class="hidden sm:inline color-nero text-xs sm:text-base">||</span>
        {{a.stadium}}, {{a.city}}
    </p>
</div>
<div class="flex justify-between items-center w-full min-h-[10vh] p-4 border-y bg-white/5">
    <div class="w-[45%] flex justify-end items-center">
        <img src="{{a.squadre[0].logo}}" class="inline-block w-[2rem] md:w-[3rem] mr-10" alt="Logo {{a.squadre[0].nome}}">
        <p class="inline-block align-middle xs:text-[1rem] sm:text-[1.5rem] md:text-[2.5rem] lg:text-[3rem] text-end">{{a.squadre[0].nome.toUpperCase()}}</p>
    </div>
    <p class="w-[10%] font-inter text-center font-extralight sm:text-xl md:text-3xl">vs</p>
    <div class="w-[45%] items-center">
        <p class="inline-block align-middle xs:text-[1rem] sm:text-[1.5rem] md:text-[2.5rem] lg:text-[3rem]">{{a.squadre[1].nome.toUpperCase()}}</p>
        <img src="{{a.squadre[1].logo}}" class="inline-block w-[2rem] md:w-[3rem] ml-10" alt="Logo {{a.squadre[1].nome}}">
    </div>
</div>
<div class="flex justify-center items-center w-full min-h-[10vh] sm:p-6 md:p-8 border-y bg-white/5">
    <div class="w-[45%] flex justify-end items-center">
        <p class="inline-block align-middle text-[4rem] font-inter font-extrabold sm:text-5xl md:text-8xl">{{a.squadre[0].punteggio}}</p>
    </div>
    <p class="w-[10%] font-inter text-center font-extrabold text-3xl">-</p>
    <div class="w-[45%] items-center">
        <p class="inline-block align-middle text-[4rem] font-inter font-extrabold sm:text-5xl md:text-8xl">{{a.squadre[1].punteggio}}</p>
    </div>
</div>
