<div class="bg-arancio h-36 md:h-24 w-full flex items-baseline md:items-center pt-5 md:pt-0 justify-around relative">
    <img src="/assets/Logo.png" class="w-24" alt="">
    <p class="absolute bottom-4 md:static text-xs md:text-base">Copyright © 2023 by Gallinacci - All rights reserved </p>
    <div class="flex gap-6">
        <img src="/assets/instagram-svgrepo-com.svg" class="w-6" alt="">
        <img src="/assets/twitter-154-svgrepo-com.svg" class="w-6" alt="">
        <img src="/assets/facebook-svgrepo-com.svg" class="w-6" alt="">
    </div>
</div>
